@using LazZiya.ExpressLocalization
@model HomeViewModel

@inject ISharedCultureLocalizer _loc;
@inject IConfiguration _config;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    ViewData["Title"] = "Home Page";
}

@section slider{
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12" style="margin-left:0px">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="hero-text" style="background-color: antiquewhite; padding: 50px; margin-top: 25px">
                                    <h1><span>UP TO 50% OFF </span>Books to change our world.</h1>
                                    <p>Stories, ideas, and knowledge that will change your life forever <br> The bookstore with soul <br> Read more, read often.</p>
                                    <div class="button">
                                        <a href="#" class="btn">Shop Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
}
@section service{
<section class="shop-services section home" style="margin-top: 90px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Free shiping</h4>
                    <p>Orders over $100</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Free Return</h4>
                    <p>Within 30 days returns</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Sucure Payment</h4>
                    <p>100% secure payment</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Best Peice</h4>
                    <p>Guaranteed price</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
}
<!-- Product Style -->
@*<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            *@

                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <!-- Start Most Popular -->
                        <div class="product-area most-popular">

                            <div class="row">
                                <div class="col-12">
                                    <h3 localize-content>Hot Item</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="owl-carousel popular-slider">

                                        @foreach (var item in Model.featuredProducts)
                                        {
                                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                            var thubUrl = "";
                                            if (@item.Thumbnail == null || @item.Thumbnail == "")
                                            {
                                                thubUrl = "https://via.placeholder.com/550x750";
                                            }
                                            else
                                            {
                                                thubUrl = $"{_config["BaseAddress"]}/user-content/{@item.Thumbnail}";
                                            }

                                            <!-- Start Single Product -->
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="@url">
                                                        <img class="default-img" src="@thubUrl" alt="@item.Name">
                                                        <img class="hover-img" src="@thubUrl" alt="@item.Name">
                                                        <span class="out-of-stock">Hot</span>
                                                    </a>
                                                    <div class="button-head">
                                                        <div class="product-action">
                                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span localize-content>Quick Shop</span></a>
                                                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                            <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                        </div>
                                                        <div class="product-action-2">
                                                            <a title="Add to cart" class="btn btn-add-cart" data-id="@item.Id" localize-content>Add to cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a href="@url">@item.Name</a></h3>
                                                    <div class="product-price">
                                                        <span class="old">@item.OriginalPrice</span>
                                                        <span>@item.Price</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Product -->
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Most Popular Area -->
                </div>
                <div class="row mt-4">
                    <div class="product-area most-popular">
                        <div class="row">
                            <div class="col-12">
                                <h3 style="margin-left: 15px;" localize-content>Latest Item</h3>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.latestProducts)
                            {
                                var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                var thubUrl = "";
                                if (@item.Thumbnail == null || @item.Thumbnail == "")
                                {
                                    thubUrl = "https://via.placeholder.com/550x750";
                                } else
                                {
                                    thubUrl = $"{_config["BaseAddress"]}/user-content/{@item.Thumbnail}";
                                }
                                <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="@url">
                                            <img class="default-img" src="@thubUrl" alt="@item.Name">
                                            <img class="hover-img" src="@thubUrl" alt="@item.Name">
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a class="btn btn-add-cart" data-id="@item.Id" title="Add to cart">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="@url">@item.Name</a></h3>
                                        <div class="product-price">
                                            <span>@item.Price</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>


                </div>

@*        </div>
    </div>
</section>*@
<!--/ End Product Style 1  -->
<!-- Start Product Area -->
@*<div class="product-area section">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="section-title">
    <h2>Trending Item</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="product-info">
    <div class="nav-main">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    @for (var i=0;i<Model.categories.Count;i++)
    {
    if (i==0)
    {
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">@Model.categories[i].Name</a></li>

    }else
    {
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">@Model.categories[i].Name</a></li>

    }
    }



    </ul>
    </div>
    <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="man" role="tabpanel">
    <div class="tab-single">
    <div class="row">
    @foreach (var item in Model.productByCategory)
    {
    var thubUrl = "";
    if (@item.Thumbnail == null || @item.Thumbnail == "")
    {
    thubUrl = "https://via.placeholder.com/550x750";
    } else
    {
    thubUrl = "https://localhost:5000/user-content/" + @item.Thumbnail;
    }
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="thubUrl" alt="@item.Name">
    <img class="hover-img" src="thubUrl" alt="@item.Name">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">@item.Name</a></h3>
    <div class="product-price">
    <span>@item.Price</span>
    </div>
    </div>
    </div>
    </div>
    }


    </div>
    </div>
    </div>

    <div class="tab-pane fade" id="women" role="tabpanel">
    <div class="tab-single">
    <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Hot Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Pink Show</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="new">New</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Pant Collectons</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="price-dec">30% Off</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Cap For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Polo Dress For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="out-of-stock">Hot</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
    <div class="product-price">
    <span class="old">$60.00</span>
    <span>$50.00</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="tab-pane fade" id="kids" role="tabpanel">
    <div class="tab-single">
    <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Hot Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Pink Show</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="new">New</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Pant Collectons</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="price-dec">30% Off</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Cap For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Polo Dress For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="out-of-stock">Hot</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
    <div class="product-price">
    <span class="old">$60.00</span>
    <span>$50.00</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="accessories" role="tabpanel">
    <div class="tab-single">
    <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Hot Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Pink Show</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="new">New</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Pant Collectons</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="price-dec">30% Off</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Cap For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Polo Dress For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="out-of-stock">Hot</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
    <div class="product-price">
    <span class="old">$60.00</span>
    <span>$50.00</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="essential" role="tabpanel">
    <div class="tab-single">
    <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Hot Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Pink Show</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="new">New</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Pant Collectons</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="price-dec">30% Off</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Cap For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Polo Dress For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="out-of-stock">Hot</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
    <div class="product-price">
    <span class="old">$60.00</span>
    <span>$50.00</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="prices" role="tabpanel">
    <div class="tab-single">
    <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Hot Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Pink Show</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="new">New</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Women Pant Collectons</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="price-dec">30% Off</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Awesome Cap For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Polo Dress For Women</a></h3>
    <div class="product-price">
    <span>$29.00</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
    <div class="single-product">
    <div class="product-img">
    <a href="product-details.html">
    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
    <span class="out-of-stock">Hot</span>
    </a>
    <div class="button-head">
    <div class="product-action">
    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
    </div>
    <div class="product-action-2">
    <a title="Add to cart" href="#">Add to cart</a>
    </div>
    </div>
    </div>
    <div class="product-content">
    <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
    <div class="product-price">
    <span class="old">$60.00</span>
    <span>$50.00</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@
<!-- End Product Area -->


