@using LazZiya.ExpressLocalization
@model ProductCategoryViewModel
@inject ISharedCultureLocalizer _loc;
@inject IConfiguration _config;
@{
    ViewData["Title"] = "Category";
}

<!-- Product Style -->


<div class="row">
    <div class="col-12">
        <!-- Shop Top -->
        <div class="shop-top">
@*            <div class="shop-shorter">
                <div class="single-shorter">
                    <label>Show :</label>
                    <select>
                        <option selected="selected">09</option>
                        <option>15</option>
                        <option>25</option>
                        <option>30</option>
                    </select>
                </div>
                <div class="single-shorter">
                    <label>Sort By :</label>
                    <select>
                        <option selected="selected">Name</option>
                        <option>Price</option>
                    </select>
                </div>
            </div>*@
            
            <ul class="view-mode">
                <li><label>Totals :@Model.Products.TotalRecord</label></li>
                <li class="active"><i class="fa fa-th-large"></i></li>
                <li><i class="fa fa-th-list"></i></li>
                </ul>
        </div>
        <!--/ End Shop Top -->
    </div>
</div>
<div class="row">
    @foreach (var item in Model.Products.Items)
    {
        var url = $"/{CultureInfo.CurrentCulture.Name}/{_loc["productUrl"]}/{item.Id}";
        var thumb = "";
        if (item.Thumbnail == null || item.Thumbnail == "")
        {
            thumb = "https://via.placeholder.com/550x750";
        }
        else
        {
            thumb = $"{_config["BaseAddress"]}/user-content/{item.Thumbnail}";
        }
        <div class="col-lg-4 col-md-6 col-12">
            <div class="single-product">
                <div class="product-img">
                    <a href="@url">
                        <img class="default-img" src="@thumb" alt="@item.Name">
                        <img class="hover-img" src="@thumb" alt="@item.Name">
                           @{
                               if(@item.OriginalPrice > @item.Price)
                            {
                                var discountPercent = (int)Math.Round((@item.OriginalPrice - @item.Price)*100/@item.Price);
                                <span class="price-dec">@discountPercent% Off</span>
                            }
                           }
                    </a>
                    <div class="button-head">
                        <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                            <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                        </div>
                        <div class="product-action-2">
                            <a class="btn btn-add-cart" data-id="@item.Id" title="Add to cart">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="product-content">
                    <h3><a href="@url">@item.Name</a></h3>
                    <div class="product-price">
                        <span>$@item.Price</span>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
<div class="row">
    @await Component.InvokeAsync("Pager", Model.Products)
</div>



<!--/ End Product Style 1  -->
